<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGreeterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62457/GreeterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGreeterService"
                contract="ServiceReferenceGreeter.IGreeterService" name="BasicHttpBinding_IGreeterService" />
        </client>
    </system.serviceModel>
</configuration>